
.dashboard-main-container-chart{
    height: 100%;
}

.chart-box{
        height: 80vh;
}

/*
.slider, .chart-card {
    height: 100%;
}

.chart-box{
    height: 80%;
}
.chart-container{
    height: 100%;
}
*/
